*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App-header h1{
    padding: 18px;
}
.weather_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.search{
    width: 28vw;
    display: flex;
    justify-content: space-between;
    border-radius: 38px;
    border: 2px solid black;
    padding: 15px;
}

input{
    border: none;
    background: none;
    width: 100%;
}

input:focus{
    border: none;
    background: none;
    outline: none;
}

.icon{
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.img_icon{
    height: 100px;
}

.temp {
    font-size: 50px;
}

.city{
    padding: 12px;
}